@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #1a8aec;
    --secondary-color:#282a37;
}
.container{
    padding: 10px 30px;
}
header {
    width: 100%;
    height: 100vh;
    background-color: #282a37;
    position: relative;
    overflow: hidden;
}
/* Order Section */
#order {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    color: #fff;
}

#order .container #page1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#order .left,
#order .right {
    flex: 1 1 45%;
    max-width: 100%;
}
#page1 .left img{
    width: 70%;
}
#order .car {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

#order .car .left-car,
#order .car .right-car {
    flex: 1 1 49%;
}

#order .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
#order .right h1{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ----- page2 */

#order #page2 .container-page2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#order #page2 .left,
#order #page2 .right {
    flex: 1 1 45%;
    max-width: 100%;
}

#order #page2 .car {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

#order #page2 .car .left-car,
#order #page2 .car .right-car {
    flex: 1 1 49%;
}

#order #page2 .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.container-page2 input[type="checkbox"], .container-page2 input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--main-color);
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.container-page2 input[type="checkbox"]:checked, .container-page2 input[type="radio"]:checked {
    background-color: var(--main-color);
}
.container-page2 input[type="checkbox"]:checked::before, .container-page2 input[type="radio"]:checked::before {
    content: '\2713'; 
    position: absolute;
    top: -3.5px;
    left: 2px;
    font-size: 16px;
    color: white;
}

.container-page2 input[type="checkbox"]:not(:checked)::before, .container-page2 input[type="radio"]:not(:checked)::before {
    content: '';
}

.container-page2 label {
    padding-top: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.hidden {
    display: none;
}
/* ------ page 3 ---------- */
#order #page3 .container-page3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#order #page3 .container-page3 .middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.container-page3 .middle .direction-inputs{
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}
.container-page3 .middle .left-input {
    flex: 1;
}
.container-page3 .middle .right-input {
    flex: 1; 
}

/* Form Input Styles */
.form-floating input ,.form-floating  textarea{
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 20px;
    background-color: #3b3e4d;
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons button,.buttons a{
    text-decoration: none;
    background-color: #1a8aec;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px 45px;
}
.container-page3 #getLocation{
    text-decoration: none;
    background-color: #1a8aec;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px 45px;
    margin-bottom: 17px;
    margin-top: 10px;
}
.buttons .next-btn{
    width: 100%;
}
.share{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-group h1{
    text-align: center;
    padding-bottom: 30px;
}
.fuel-option{
    display: flex;
    /* display: non; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.hidden {
    display: none;
}


label {
    display: block;
    margin-bottom: 10px;
}
/* ------- Start page 1 ------ */

@media (max-width: 768px) {

    #page1 #order .container {
        flex-direction: column;
    }

    #page1 #order .left,
    #page1 #order .right {
        flex: 1 1 100%;
    }

    #page1 #order .left .car {
        flex-direction: column;
    }

    #page1 #order .left .car .left-car,
    #page1 #order .left .car .right-car {
        width: 100%;
    }
}
@media (max-width: 500px){
    header{
        height: 120vh;
    }
    #order .container #page1{
        display: block;
        height: auto;
    }
}
@media screen and (max-width: 400px) {
    #page1 .buttons a{
    margin-right: 10px;
    }
}
/* ------- End page 1 ------ */
/* ------- Start page 2 ------ */

@media (max-width: 768px) {
    #page2 header{
        height: auto;
    }
    #page2 #order {
        width: 100%;
        height: 80vh;
        display: block;
        flex-wrap: wrap;
        padding: 20px;
        color: #fff;
    }
}
@media (max-width: 400px) {
    #page2 .buttons{
        display: flex;
        justify-content: space-between;
    }
    #page2 .buttons button{
        margin: 0;
        text-decoration: none;
        background-color: #1a8aec;
        color: white;
        border-radius: 15px;
        padding: 10px 45px;
        margin-right: 10px;
    }
    #page2 .container{
        padding: 5px 15px;
    }
    #page2 .buttons .next{
        margin-right: 20px;
    } 
    
} 
/* ------- End page 2 ------ */
/* ------- Start page 3 ------ */
@media (max-width: 768px) {
    #page3 .direction-inputs{
        display: block;
    }

}
@media (max-width: 400px) {
    #page3 .buttons{
        display: flex;
        justify-content: space-between;
    }
    #page3 .buttons a{
        margin: 0;
        text-decoration: none;
        background-color: #1a8aec;
        color: white;
        border-radius: 15px;
        padding: 10px 45px;
        margin-right: 10px;
    }
    .container{
        padding: 5px 15px;
    }
    #page3 .buttons .next{
        margin-right: 20px;
    } 
    
}
/* ------- End page 3 ------ */










@media (max-width: 576px) {

    nav .menu {
        display: block;
    }

    nav .s-s {
        position: fixed;
        z-index: 10;
        width: 85vw;
        padding: 0px 20px;
        gap: 10px;
        flex-direction: column;
        background-color: #282a37dd;
        border-radius: 20px;
        left: 50%;
        transform: translate(-50%);
        top: calc(20px + 60px);
        height: 0;
    }

    nav .s-s ul {
        flex-direction: column;
    }

    nav .s-s .divider {
        width: 100%;
        height: 2px;
    }

}

@media (max-width: 768px) {

    nav .menu {
        display: block;
    }

    nav .s-s {
        position: fixed;
        z-index: 10;
        width: 85vw;
        padding: 0px 20px;
        gap: 10px;
        flex-direction: column;
        background-color: #282a37dd;
        border-radius: 20px;
        left: 50%;
        transform: translate(-50%);
        top: calc(20px + 60px);
        height: 0;
    }

    nav .s-s ul {
        flex-direction: column;
    }

    nav .s-s .divider {
        width: 100%;
        height: 2px;
    }

}

@media (max-width: 992px) {

    nav .menu {
        display: block;
    }

    nav .s-s {
        position: fixed;
        z-index: 10;
        width: 85vw;
        padding: 0px 20px;
        gap: 10px;
        flex-direction: column;
        background-color: #282a37dd;
        border-radius: 20px;
        left: 50%;
        transform: translate(-50%);
        top: calc(20px + 60px);
        overflow: hidden;
        height: 0;
    }

    nav .s-s ul {
        flex-direction: column;
    }

    nav .s-s .divider {
        width: 100%;
        height: 2px;
    }

}